//color
$accent: #F9C869;
$blue: #66C7CD;
$red: #F86868;
$dark: #1a1a1a;
$darkFont: #4a4a4a;
$overlay: #3D3C3C;
$fontawesome_path: '../fonts/fontawesome';



//common style
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/smartgrid";
@import "_misc/adjustment";
@import "_misc/font-awesome";

// animation
@import "_misc/preloader";
@import "common/hamburger";
@import "common/mmenu";

//section
@import "common/header";
@import "common/services";
@import "common/about";
@import "common/feedback";
@import "common/partners";