
section(style= inlineImg.about_bg).about.s-overlay#js-about
	.container
		.about__row
			.about__desc
				h2.js-h2.s-title королевский салон
				.s-text !{desc.about}

			div(class= "about__gallery fotorama" )&attributes(dataAttr)
				- for (var i = 1; i <= 6; i++)
					img(src=`assets/img/about/small/foto-${i}.jpg`
						class="gallery__thumbs"
						alt="photo_salon")

