//-_-_-_-_-_-_-_-_-_-_-_-_-/color header/_-_-_-_-_-_-_-_-_-_-_-_-//

$iconColor: #95989a;

.header {
	width: 100%;
	min-height: rem(700px);
	height: 100vh;
	@include cover(#1a1a1a);
	position: relative;
	color: #fff;
}

//-_-_-_-_-_-_-_-_-_-_-_-_-/header-top/_-_-_-_-_-_-_-_-_-_-_-_-//

.header-top {
	position: absolute;
	width: 100%;
	padding: rem(48px) rem(90px) 0 rem(45px);
	display: flex;
	z-index: 1;
}

.header-top__logo {
	flex-grow: 1;
}

.header-top__logo-link {
	display: block;
	max-width: 125px;
}

.phone {
	@include font(20px);
	@include font-family(fira);
	@include icon-pseudo($icon-mobile-phone) {
		color: $iconColor;
		padding-right: rem(10px);
	}

	@include sm-block {
		display: none;
	}
}

.hamburger {
	position: absolute;
	right: 0;
	top: rem(38px);
	padding: rem(12.5px);
	z-index: 100;
}

.header-socials__list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.06);
}

.header-socials__link {
	display: inline-block;
	margin: rem(8px) rem(12.5px);
	background: rgba(255, 255, 255, 0.25);
	transition: background-color .25s ease;
	color: #353535;
	&:hover {
		background: rgba(#fff, .4);
	}
}

$socials: (facebook, instagram, vk);
@each $social in $socials {
	.#{$social} {
		border-radius: 50%;
		height: rem(38px);
		width: rem(38px);
		text-align: center;
		line-height: rem(40px);
		@if ($social == facebook) {
			@include icon-pseudo($icon-facebook)
		}
		@if ($social == instagram) {
			@include icon-pseudo($icon-instagram)
		}
		@if ($social == vk) {
			@include icon-pseudo($icon-vk)

		}
	}
}

//-_-_-_-_-_-_-_-_-_-_-_-_-/header-middle/_-_-_-_-_-_-_-_-_-_-_-_-//

.header-mid {
	display: flex;
	height: 100%;
	padding: rem(120px) 0;
}

.header-mid__wrap {
	margin: auto;
}

.header-mid__row {
	@include row-float;
	//@include row-flex;
}

.header-welcome {
	text-align: center;
	@include col-float;
	@include col-padding;
	@include size(7);
	@include size-md(8);
	@include size-xs(10);
	@include size-xxs(11);

}

.header-welcome__title {
	text-transform: uppercase;
}

.header-title__top {
	display: flex;
	justify-content: center;
	white-space:nowrap;
	align-items: center;
	font-size: rem(14px);
	line-height: 1;
	@include sm-block {
		font-size: rem(12px);
	}
	@include xs-block {
		font-size: rem(11px);
	}
	@include xxs-block{
		font-size: rem(10px);
	}
	&:before, &:after {
		display: inline-block;
		content: ' ';
		height: 1px;
		flex-grow: 1;
		background: #fff;
	}
	&:before {
		margin-right: rem(10px);
	}
	&:after {
		margin-left: rem(10px);
	}
}

.header-title__main {
	@include font(70px);
	@include font-family(thin);
	line-height: 1.6;
	border-bottom: 1px solid #fff;
	white-space: nowrap;
	@include desktop {
		font-size: rem(60px);
	}
	@include laptop {
		font-size: rem(45px);
	}
	@include phones {
		font-size: rem(30px);
	}

}

.header-title__place {
	@include font(18px);
	margin-top: rem(30px);
	display: flex;
	justify-content: center;
	align-items: center;
	@include icon-pseudo($icon-star, both) {
		display: inline-block;
		font-size: rem(12px);
		color: #555;
	}
	&:before {
		margin-right: rem(10px);
	}
	&:after {
		margin-left: rem(10px);
	}

}

.header-welcome__desc {
	margin-top: rem(50px);
}

.btn {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	letter-spacing: rem(3px);
	margin-top: rem(32px);
	@include font(13px);
	@include font-family(semi);
	padding: rem(20px) rem(55px);
	background: $accent;
	border-radius: 2px;
	@include pseudo(after) {
		position: absolute;
		height: rem(4px);
		width: 100%;
		left: 0;
		bottom: 0;
		background-color: darken($accent, 10%);
		border-bottom: rem(2px);
	}
	transition: background-color .1s ease;
	&:hover {
		background-color: #fad07f;
		&:after {
			background-color: darken(#fad07f, 10%);
		}
	}
}

//-_-_-_-_-_-_-_-_-_-_-_-_-/header-bottom/_-_-_-_-_-_-_-_-_-_-_-_-//
.header-bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-top: rgba(255, 255, 255, .06) 1px solid;
	background-color: rgba(21, 21, 21, .15);
	padding: rem(17px) 0;
	font-size: rem(14px);
}

.header-contacts__list {
	@include row-flex;
	@include xs-block {
		display: block;
	}
}

.header-contacts__items {
	font-size: rem(14px);
	white-space: nowrap;
	@include col;
	@include size(4);
	@include size-md(6);
	@include size-xs(12);
	&.address {
		@include md-block {
			text-align: center;
		}
		@include xs-block {
			text-align: left;
		}
	}
	&.phone {
		text-align: center;
		@include sm-block {
			display: block;
		}
		@include xs-block {
			text-align: left;
		}
	}
	&.time {
		text-align: right;
		@include md-block {
			display: none;
		}
	}

}

.address {
	@include icon-pseudo($icon-location-arrow) {
		padding-right: rem(10px);
		color: $iconColor;
	}
}

.time {
	@include icon-pseudo($icon-clock-o) {
		padding-right: rem(10px);
		color: $iconColor;
	}
}

.header-nav__link {
	@include icon-pseudo($icon-diamond) {
		padding-right: rem(10px);
	}
}