
.title__reviews {
	text-align: center;
	@include col;
	@include size(12);
}
@mixin quotes($pos) {
	position: absolute;
	top: 0;
	left: 0;
	color: $accent;
	content: ",,";
	@if ($pos == open) {
		transform: translate(-50%,-50%);

	}
	@if ($pos == close) {
		transform: rotate(180deg);
		transform: translate(-50%,-50%);

	}
}
.reviews__slider {
	@include col;
	@include size(8);
	@include offset(2);
	@include size-md(10);
	@include offset-md(1);
	@include size-xs(12);
	@include offset-xs(0);
	position: relative;
	text-align: center;
	padding: rem(50px) 0;
	@include dots;
	.owl-nav{
		position: absolute;
		top: rem(200px);
		width: 100%;
		line-height: 1;
		@include font(64px, $accent);
		font-family: "Times New Roman", sans-serif;
		@include xs-block {
			display: none;
		}
		.owl-prev {
			position: absolute;
			left: -5%;
			&:after {
				@include quotes(close);

			}
		}
		.owl-next {
			position: absolute;
			right: -5%;
			&:after {
				@include quotes(open)
			}
		}
	}
}
.reviews__name {
	@include font(30px);
	font-weight: bold;
	font-style: italic;
}
.reviews__data {
	color: #95989A;
  margin-top: rem(11px);
}

.fa.fa-star{
	margin: 0 2px;
	line-height:1;
	color: $accent;
	@include icon-pseudo($icon-star, $accent);
}
.reviews__text {
	color: #95989A;
	margin: rem(40px) 0;
}

