.services {
	width: 100%;
}

.services__list {
	position: relative;
	background: $dark;
}

.services__items {
	display: flex;
	flex-direction: column;
	&:hover {
		.services-bg {
			opacity: 1;
		}
	}
}

.owl-item {
	&:nth-child(even) {
		.services__items {
			flex-direction: column-reverse;
			@include md-block{
				flex-direction:column;
			}
		}
	}
}

.owl-nav {
	position: absolute;
	top: 0;
	width: 100%;
	.owl-prev {
		position: absolute;
		left: 0;
		width: rem(64px);
		height: rem(64px);
		background: #fff;
		&:hover {
			&::before {
				animation: pulse linear .8s 3
			}
		}
		@include icon-pseudo($icon-angle-double-left) {
			font-size: rem(26px);
			position: absolute;
			left: 50%;
			line-height: rem(64px);
			margin-left: rem(-10px);

		}
	}
	.owl-next {
		position: absolute;
		right: 0;
		width: rem(64px);
		height: rem(64px);
		background: #fff;
		&:hover {
			&::before {
				animation: pulse linear .8s 3
			}
		}
		@include icon-pseudo($icon-angle-double-right) {
			font-size: rem(26px);
			position: absolute;
			left: 50%;
			line-height: rem(64px);
			margin-left: rem(-5px);
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1)
	}
	50% {
		transform: scale(1.4)
	}
	100% {
		transform: scale(1)
	}
}

$colors: $red, $blue, $accent;

@for $i from 1 through length($colors) {
	.owl-item {
		&:nth-child(#{length($colors)}n+#{$i}) {
			.services__items {
				background-color: nth($colors, $i);
			}
		}
	}
}

.services-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: rem(60px) 10% rem(40px);
	text-align: center;
	color: #fff;
}

.title__logo {
	display: inline-block;
	max-width: rem(100px);
	height: auto;
}

.services-title__top {
	@include font(24px);
	@include md-block {
		font-size: rem(28px);
	}
	@include font-family(exbold);
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 1.3;
}
.js-h3 {
	span {
		width: 100%;
		display: block;
		@include font(18px);
		@include font-family(light);
	}
}
.services__content-list {
	margin: rem(30px) 0;
	width:100%;

}

.services__content-items {
	@include font(18px);
	text-transform: none;
	white-space: nowrap;
	padding: rem(12px) 0;
	border-top: 1px solid rgba(#000, .12);
	&:first-child {
		padding-top: 0;
		border-color: transparent;
	}
	.services-name {
		@include font-family(light);
	}
	.services-price {
		@include font-family(fira);
		font-weight: 600;
		color: #4A4A4A;
		@include icon-pseudo($icon-rub, after) {
			padding-left: rem(5px);
		}
	}
}

.btn_white {
	color: #444444;
	background-color: rgba(#fff, .85);
	margin-top: auto;
	&:after {
		background: #E6E6E6;
		transition: .15s ease;
	}
	&:hover {
		background-color: rgba(#fff, .75);
		&:after {
			background: rgba(#fff, .4);
		}
	}
	&:active {
		background-color: rgba(#fff, .95);
		&:after {
			background: rgba(#fff, .2);
		}
	}
}

.services-bg {
	@include cover();
	opacity: .7;
	transition: opacity .5s ease;
	@include sm-block {
		display: none;
	}
}
.owl-carousel {
	.owl-item {
		backface-visibility: inherit;
	}
}