extends ../_template
block variables
	- var title = 'Smitler'
	//- color for mobile browsers
	- var colorBrowser = '#1A1A1A'

block content
	include ../common/header
	include ../common/services
	include ../common/about
	include ../common/feedback
	include ../common/reviews
	include ../common/partners



